@{
    ViewData["Title"] = "Calculate Page";
}

<div class="text-center">
    <h1 class="display-4">Calculate Square root</h1>
    <p>Please input two numbers to find their square root and highest square root.</p>
</div>

<div class="text-center">
    <form asp-controller="Calculate" asp-action="Calc" method="post">
        <input type="text" name="FirstNumber" placeholder="Input first number"/>
        <input type="text" name="SecondNumber" placeholder="Input Second number"/>
        <button type="submit">Calculate</button>
    </form>
</div>

    @{
        if (ViewBag.firstSqrt != null && ViewBag.secondSqrt != null)
        {
            <div class="text-center">
                @{
                        if (@ViewBag.firstSqrt > @ViewBag.secondSqrt)
                            {
                                <h3 class="text-success">
                                The number @ViewBag.first with Square root @ViewBag.firstSqrt
                                has a square root than the number @ViewBag.second with square root
                                @ViewBag.secondSqrt
                                </h3>

                            }
                            else if (@ViewBag.secondSqrt > @ViewBag.firstSqrt)
                            {
                                <h3 class="text-success">
                                The number @ViewBag.second with Square root @ViewBag.secondSqrt
                                has a square root than the number @ViewBag.first with square root
                                @ViewBag.firstSqrt
                                </h3>
                            }
                            else if (@ViewBag.firstSqrt == @ViewBag.secondSqrt)
                            {
                                <h3 class="text-success">
                                    The number @ViewBag.first with Square root @ViewBag.firstSqrt
                                    is equal to the number @ViewBag.second with square root
                                    @ViewBag.secondSqrt
                                </h3>
                                <p class="text-success">Please Try a different number!!!</p>
                            }
                }
            </div>        
        }
    }

    @{
        if (ViewBag.NegNumError != null)
        {
            <div class="text-center">
                <h3 class="text-danger">
                    @ViewBag.NegNumError
                </h3>
            </div>
        }
    }


    @{
        if (ViewBag.errorMessageEmpty != null)
        {
            <div class="text-center">
                <h3 class="text-danger">
                    @ViewBag.errorMessageEmpty
                </h3>
            </div>
        }
    }
    @{
        if (ViewBag.alphaError != null)
        {
            <div class="text-center">
                <h3 class="text-danger">
                    @ViewBag.alphaError
                </h3>
            </div>
        }
    }

